<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>

<!-- *** General *** -->

    <display-name>Servicio TCP sobre HTTP </display-name>

<!-- *** Servlet Definitions *** -->

    <servlet>
        <servlet-name>remoteServlet</servlet-name>
        <servlet-class>org.tsh.server.ProxyRemoteServlet</servlet-class>
        <init-param>
      		<param-name>configFile</param-name>
      		<param-value>WEB-INF/classes/tsh-server.xml</param-value>
    	</init-param>
    	<init-param>
      		<param-name>rulesConfigFile</param-name>
      		<param-value>WEB-INF/classes/rules-server.xml</param-value>
    	</init-param>
  
    </servlet>
      

<!-- *** Servlet Mappings *** -->

    <servlet-mapping>
        <servlet-name>remoteServlet</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>

<!-- *** Other *** -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>
